# ОС
.DS_Store
Thumbs.db

# Настройки редакторов
.idea/
.vscode/
*.iml
*.swp
*~

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Артефакты сборки и бинарные файлы
build/
dist/
out/
*.o
*.exe
*.so

# Архивы
*.tar
*.tar.gz
*.tgz
*.zip
*.7z
*.rar

# Временные файлы и логи
tmp/
*.log
